@import './global.css';

#todo-input-wrapper {
  margin-top: 20px;
}

#todo-add-input {
  width: 100%;
  padding: 10px;
  border: 1px solid var(--green-100);
  border-right: none;
  border-radius: 0.3em 0 0 0.3em;
  outline: none;
}

#todo-add-input:focus {
  background-color: rgba(81, 193, 92, 0.1);
  border-color: var(--green-200);
}

.button {
  font-size: 20px;
  height: 38px;
  border-radius: 0 0.3em 0.3em 0;
}

#todo-list-wrapper {
  width: 100%;
  min-height: 300px;
  padding: 20px;
  margin: 30px auto 0 auto;
  border-radius: 0.3em;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;  
}


