* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat';
}

header {
  text-align: center;
}

ul {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style-type: none;
}